@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800&display=swap');

*{
    margin: 0;
    padding:0;
}

body{
    font-family: 'Montserrat', sans-serif;
}


/* navbar */
nav{
    display: flex;
    background-color: #003049;
    justify-content: space-between;
    /* padding: 20px 0; */
    height: 60px;
    padding: 0 60px;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    width: 45%;
    justify-content: space-between;
    
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 0.85em;
}

nav ul li .login-btn{
    background-color: #d62828;
    border-radius: 5px;
    padding: 7px 35px;
    box-shadow: 0 1px 6px #000
}

nav ul li a:hover{
    color:#eae2b7;
}

nav ul li .login-btn:hover{
    background-color:#ac2121;
    color: white;
}

/* hamburger menu */
.menu-toggle{
    display: none;
    position: relative;
    height: 20px;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height:28px;
    opacity: 0;
    left: -6px;
    top:-3px;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}

/* hamburger menu animation */

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
}

.sections{
    z-index: -999;
}

/* section 1 */

#section1{
    height:81vh;
    z-index: -999;
    padding : 30px 40px;
    background-color: #eae2b7;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}

#section1 img{
    height: 60vh;
}

#section1 .text{
    width: 400px;
    text-align: right;
}

#section1 h1{
    color: #003049;
    font-size: 3.2em;
    text-align: right;
    margin-bottom: 30px;
}

#section1 .join-btn{
    text-decoration: none;
    background-color: #d62828;
    border-radius: 5px;
    padding: 8px 40px;
    box-shadow: 0 0.5px 6px rgb(90, 86, 86);
    color: white;
}

#section1 .join-btn:hover{
    background-color:#ac2121;
    color: white;
}

/* section 2 */

#section2{
    background-color:#d62828;
    padding : 25px 30px;
    align-items: center
}

#section2 h1{
    color:#eae2b7;
    text-align: center;
    margin-bottom: 50px;
}

.features{
    display: flex;
    width: 100%;
    margin: 30px auto;
    box-sizing:border-box;
    flex-direction: row;
    justify-content:space-evenly ;
    flex-wrap: wrap;
}

.features > *{
    background-color:#fcbf49;
    text-align:center;
    width: 200px;
    border-radius: 20px;
    padding: 30px 30px;
    margin-bottom: 30px;
}
#section2 >.features > * > img{
    height: 15vh;
}

#section2 >.features > * > h4{
    margin: 15px 0 20px 0;
}

/* section 3 */

#section3{
    background-color: #003049;
    padding : 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center
}


#section3 > *{
    color: #eae2b7;
    margin: 20px 0 20px 0;
}

#section3 p{
    text-align: center;
    width: 50vh;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    background-color: #eae2b7;
    height: 70px;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

footer h4{
    color: #003049
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    list-style-type: none;
}
footer ul li a{
    color: #003049;
    font-size: 1.5em;
}


/* btn scroll to top */
#toTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #d62828;
    font-size: 25px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border: none;
}

#toTop:active{
    background: #ac2121;
}



/* responsive breakpoint */

/* hd */
@media screen and (max-width: 1024px){
   
    nav{
        padding: 0px 20px;
    }
    nav ul{
        width:55%;
    }
    
    #section1{
        flex-direction: column;
        z-index: -999;
    }

    #section1 img{
        height: 40vh;
    }

    #section1 .text{
        text-align: center;
    }

    #section1 h1{
        color: #003049;
        font-size: 2em;
        text-align: center;
        margin-bottom: 30px;
    }

    #section1 a{
        font-size: 13px;
    }

}

/* tablet */
@media screen and (max-width: 768px){
   
    nav{
        padding: 0px 20px;
    }
    nav ul{
        width:55%;
    }
    
    #section1{
        flex-direction: column;
        z-index: -999;
    }

    #section1 img{
        height: 40vh;
    }

    #section1 .text{
        text-align: center;
        width: 100%;
    }

    #section1 h1{
        color: #003049;
        font-size: 2em;
        text-align: center;
        margin-bottom: 30px;
    }

    #section1 a{
        font-size: 13px;
    }

}

/* mobile */
@media screen and (max-width: 576px) {
   
    nav{
        padding: 0px 40px;
    }

    nav ul, nav .menu-toggle, nav .logo > img{
        z-index: 999;
    }

    nav ul{
        position: absolute;
        width: 100%;
        right: 0;
        top:0;
        left:0;
        background-color: #003049;
        flex-direction: column;
        align-items: center;
        height: 80vh;
        justify-content:space-evenly;
        transform: translateY(-100%);
        transition: all 1s;
    }

    nav ul.slide{
        transform: translateY(0);
    }

    nav ul li .login-btn{
        background-color: none;
        box-shadow: none;
    }

    .menu-toggle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    
}

@media screen and (max-width: 415px) {
    #section1 > img{
        height: 30vh;
    }

    #section1 h1{
        font-size: 2em;
    }

    #section3 p{
        width: 30vh;
    }
}